<div id="message_<%= message.id %>" class="well message <%= (user.id == message.sender.id) ? 'received' : 'sent' %>">
  <%= link_to image_tag(message.sender.image.thumb.url, :class => 'size20'), message.sender %>
  <%= simple_text message.content %>
  <div class="timestamp"><%= humanize_datetime message.created_at %></div>
</div>