<div class="page-header">
  <h1><%= t('message.p') %></h1>
</div>

<table class="table table-striped" id="all_chats">
  <% @chats.each do |chat| %>
    <% message = chat.last %>
    <% user = (message.sender_id == current_user.id) ? message.recipient : message.sender %>
    <tr <%= raw("class=\"unread\"") if((message.sender_id != current_user.id) && (message.recipient_status == :unread)) %>>
      <td><%= link_to image_tag(user.avatar.thumb.url, :class => 'size20'), user %></td>
      <td>
        <%= link_to user_messages_path(user) do %>
          <%= simple_format message.content %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>