<% page_title t('message.p') %>

<div class="page-header">
  <h1><%= t('message.p') %></h1>
</div>

<div class="span8 offset2">
  <table class="table table-striped" id="all_chats">
    <% @messages.each do |message| %>
      <% user = (message.sender_id == current_user.id) ? message.recipient : message.sender %>
      <tr class="<%= 'unread' if (message.sender_id != current_user.id) && (message.recipient_status == :unread) %>">
        <td>
          <%= link_to image_tag(user.image.thumb.url, alt: user.name, :class => 'img-rounded'), user_messages_path(user) %>
        </td>
        <td>
          <%= link_to user_messages_path(user) do %>
            <%= truncate strip_tags(message.content), length: 170, separator: ' ' %>
          <% end %>
        </td>
        <td>
          <%= link_to time_tag(message.created_at, humanize_datetime(message.created_at)), user_messages_path(user) %>
        </td>  
      </tr>
    <% end %>
  </table>
  <%= will_paginate @messages %>
</div>