<%= render 'admin/header', {active: :forums} %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t('forum.title') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td>
          <%= link_to forum.title, forum %>
        </td>
        <td>
          <%= link_to edit_forum_path(forum), :class => "btn" do %>
            <i class="icon-edit"></i>
            <%= t('action.edit') %>
          <% end %>
          <%= link_to forum, :class => "btn", method: :delete, confirm: 'Are you sure?' do %>
            <i class="icon-trash"></i>
            <%= t('action.delete') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('forum.new'), new_forum_path, :class => 'btn' %>