<% page_title t('forum.p') %>

<div class="page-header">
  <h1><%= t 'forum.p' %></h1>
</div>

<div class="row">
  <div class="span8">
    <% @forums.each do |forum| %>
      <div class="row">
        <div class="span8">
          <h3><%= link_to forum.name, forum %></h3>
          <div class="justified">
            <%= simple_text forum.description %>
          </div>

          <%= render 'topics/index', {topics: forum.topics.order_by([:updated_at, :desc]).limit(4), forum: forum} %>
        </div>
      </div>
      <hr/>
    <% end %>
  </div>
  <div class="span4">

    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header"><%= t 'index.last_discussions' %></li>
        <% Topic.order_by([:created_at, :desc]).limit(6).each do |topic| %>
          <li>
            <%= link_to forum_topic_path(topic.forum, topic) do %>
              <strong><%= topic.name %></strong>
            <% end %>
            <small><%= topic.forum.name %></small>
          </li>
        <% end %> 
      </ul>
    </div>

    <h5><%= t 'post.last' %></h5>
    <ul class="media-list">
      <% @posts.limit(10).each do |post| %>
        <li class="media">
          <%= link_to image_tag(post.user.image.thumb.url, :class => 'img-polaroid media-object'), raddar_path(post), :class => 'pull-left' %>
          <div class="media-body">
            <h5 class="media-heading"><%= link_to post.user.name, raddar_path(post) %>:</h5>
            <p class="justified"><%= truncate strip_tags(post.content), length: 80, separator: ' ' %></p>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header"><%= t 'index.top_discussed' %></li>
        <% Topic.order_by([:views, :desc]).limit(10).each do |topic| %>
          <li>
            <%= link_to forum_topic_path(topic.forum, topic) do %>
              <strong><%= topic.name %></strong>
            <% end %>
            <small><%= topic.forum.name %></small>
          </li>
        <% end %> 
      </ul>
    </div>
  </div>
</div>

