<% page_title @forum.name %>

<div class="page-header clearfix">
  <h1><%= @forum.name %></h1>
  <span class="pull-right">
    <%= render 'followers/link_with_count', {followable: @forum} %>
    <%= render 'followers/follow_button', {followable: @forum} if user_signed_in? %>
  </span>
</div>

<div class="row">
  <div class="span8 justified">
    <%= simple_text @forum.description %>
  </div>
  <div class="span4">
    <div class="well">
      <% if can? :create, Topic %>
        <%= link_to t('topic.new'), new_forum_topic_path(@forum), :class => 'btn btn-primary btn-block'  %>
      <% else %>
        <%= render 'users/sessions/invite', {action: t('topic.new')} unless user_signed_in? %>
      <% end %>
    </div>
  </div>  
</div>

<%= render 'topics/index', {topics: @topics, forum: @forum} %>

<%= will_paginate @topics %>
