<%= simple_form_for([@stuff.pub,@stuff], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: {:class => 'span4'} %>
    <%= f.input :content, as: :bootsy, container: @stuff.pub, input_html: {:class => 'span8', rows: '16'} %>
    <%= render 'tags/input', {form: f} %>
    <% unless @stuff.image.file.nil? %>
      <div class="row">
        <div class="span2 offset2">
          <%= image_tag @stuff.image.small.url, :class => 'img-polaroid' %>
        </div>
      </div>
    <% end %>
    <%= f.input :image, as: :file, input_html: {:class => 'span4'}  %>
    <%= f.input :image_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= submit_button f %>
    <%= destroy_button [@stuff.pub, @stuff] if @stuff.persisted? && can?(:destroy, @stuff) %>
  </div>
<% end %>
