<%= simple_form_for([@stuff.pub,@stuff], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= image_tag @stuff.image.thumb.url unless @stuff.image.file.nil? %>
    <%= f.input :image, as: :file %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :content, as: :text, input_html: {:class => 'span6', rows: '8'} %>
    <%= render 'tags/input', {form: f} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= destroy_button [@stuff.pub, @stuff] if @stuff.persisted? && can?(:destroy, @stuff) %>
  </div>
<% end %>
