<div class="page-header">
  <h1>
    <%= @stuff.name %>
    <small><%= @stuff.pub.name %></small>
  </h1>
</div>

<%= image_tag @stuff.cover.thumb.url unless @stuff.cover.file.nil? %>

<div class="well">
  <%= rich_format @stuff.content %>
</div>

<%= render 'tags/show', {taggable: @stuff} %>

<%= render 'votes/show', {votable: @stuff} %>


<%= link_to t('action.edit'), edit_pub_stuff_path(@stuff.pub, @stuff) if can? :edit, @stuff %>

<%= render 'comments/index', {commentable: @stuff} %>
