<% page_title @stuff.name + ' - ' + @stuff.pub.name %>

<% content_for :feed_tag, pub_feed_tag(@stuff.pub) %>

<div class="row" id="stuff_container">
  <div class="span8">
    <div class="stuff clearfix">
      <h1>
        <%= @stuff.name %>
      </h1>

      <div class="info clearfix">
        <%= t 'stuff.info.html', author: link_to(@stuff.pub.user.name, @stuff.pub.user), time: time_tag(@stuff.created_at, humanize_datetime(@stuff.created_at)) %>
        <span class="pull-right">
          <%= edit_button edit_pub_stuff_path(@stuff.pub, @stuff) if can? :edit, @stuff %>
        </span>
      </div>

      <hr />

      <%= image_tag(@stuff.image.large.url, :class => 'main center') unless @stuff.image.file.nil? %>

      <div class="content editable_content">
        <%= rich_format @stuff.content %>
      </div>
    </div>

    <%= render 'tags/index', {taggable: @stuff} %>

    <div class="votes">
      <%= t 'stuff.vote' %>: <%= render 'votes/show', {votable: @stuff} %>
    </div>
  </div>
  <div class="span4 sidebar">
    <div class="well sidebar">
      <h4><%= link_to @stuff.pub.name, @stuff.pub %></h4>
      <div class="author clearfix">
        <%= link_to image_tag(@stuff.pub.user.image.thumb.url, :class => 'img-polaroid pull-left cover'), @stuff.pub.user %>
        <%= t 'pub.author' %>
        <br/>
        <%= link_to @stuff.pub.user.name, @stuff.pub.user %>
      </div>
      
      <ul class="nav nav-list">
        <% stuffs = @stuff.pub.stuffs.order_by([:created_at, :desc]) %>
        <% stuffs.limit(50).each do |stuff| %>
          <li class="divider"></li>
          <li class="<%= 'active' if stuff == @stuff %> clearfix" >
            <%= link_to stuff_path(stuff) do %>
              <%#= image_tag stuff.image.thumb.url, :class => 'size40 pull-left' %>
              <%= stuff.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= link_to t('action.more'), @stuff.pub, :class => 'btn' if stuffs.count > 50 %>
    </div>
  </div>
</div>

<%= render 'comments/index', {commentable: @stuff} %>

