<% page_title @stuff.name + ' - ' + @stuff.pub.name %>

<% content_for :feed_tag, pub_feed_tag(@stuff.pub) %>

<div class="row" id="stuff_container">
  <div class="span8">
    <div class="stuff clearfix">
      <h1>
        <%= @stuff.name %>
      </h1>

      <div class="info row">
        <div class="span6">
          <p><%= t 'stuff.info.html', author: link_to(@stuff.pub.user.name, @stuff.pub.user), time: time_tag(@stuff.created_at, humanize_datetime(@stuff.created_at)) %></p>

          <% if can? :edit, @stuff %>
            <p><%= edit_button edit_pub_stuff_path(@stuff.pub, @stuff) %></p>
          <% end %>
        </div>

        <div class="span2">
          <div class="pull-right">
            <div class="pull-left">
              <%= render 'shared/tweet_button', {count: 'none', text: @stuff.name, user: @stuff.pub.user, url: pub_stuff_url(@stuff.pub, @stuff)} %>
            </div>

            <div class="pull-left like_button">
              <%= render 'shared/like_button', {layout: 'button_count', url: pub_stuff_url(@stuff.pub, @stuff)} %>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <%= image_tag(@stuff.image.large.url, :class => 'main center') unless @stuff.image.file.nil? %>

      <div class="content editable_content">
        <%= rich_format @stuff.content %>
      </div>
    </div>

    

    <div class="row">
      <div class="span6">
        <%= render 'tags/index', {taggable: @stuff} %>
        <%= t 'stuff.vote' %>: <%= render 'votes/show', {votable: @stuff} %>
      </div>

      <div class="span2">
        <div class="pull-left">
          <%= render 'shared/tweet_button', {count: 'vertical', text: @stuff.name, user: @stuff.pub.user, url: pub_stuff_url(@stuff.pub, @stuff)} %>
        </div>

        <div class="pull-left like_button">
          <%= render 'shared/like_button', {layout: 'box_count', url: pub_stuff_url(@stuff.pub, @stuff)} %>
        </div>
      </div>
    </div>
  </div>

  <div class="span4 sidebar">
    <div class="well sidebar">
      <h4><%= link_to @stuff.pub.name, @stuff.pub %></h4>
      <div class="media">
        <%= link_to image_tag(@stuff.pub.user.image.thumb.url, :class => 'img-polaroid media-object'), @stuff.pub.user, :class => 'pull-left' %>
        <div class="media-body">
          <%= t 'pub.author' %>
          <br/>
          <%= link_to @stuff.pub.user.name, @stuff.pub.user %>
        </div>
      </div>
      
      <ul class="nav nav-list">
        <% stuffs = @stuff.pub.stuffs.order_by([:created_at, :desc]) %>
        <% stuffs.limit(50).each do |stuff| %>
          <li class="divider"></li>
          <li class="<%= 'active' if stuff == @stuff %> clearfix" >
            <%= link_to pub_stuff_path(@stuff.pub, stuff) do %>
              <%= stuff.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= link_to t('action.more'), @stuff.pub, :class => 'btn' if stuffs.count > 50 %>
    </div>
  </div>
</div>

<%= render 'comments/index', {commentable: @stuff} %>

