<% page_title @stuff.name + ' - ' + @stuff.pub.name %>

<div class="page-header">
  <h1>
    <%= @stuff.name %>
    <small><%= @stuff.pub.name %></small>
  </h1>
</div>

<%= image_tag @stuff.image.thumb.url unless @stuff.image.file.nil? %>

<div class="well">
  <%= rich_format @stuff.content %>
</div>

<%= render 'tags/index', {taggable: @stuff} %>

<%= render 'votes/show', {votable: @stuff} %>


<%= edit_button edit_pub_stuff_path(@stuff.pub, @stuff) if can? :edit, @stuff %>

<%= render 'comments/index', {commentable: @stuff} %>
