<% page_title t('user.account.p') %>

<%= render 'users/shared/settings_header', {active: :accounts} %>

<table class="table table-striped">
  <% User.omniauth_providers.each do |provider| %>
    <% account = current_user.accounts.where(provider: provider).first %>
    <tr>
      <td><%= provider.to_s.titleize %></td>
      <td>
        <% if account.blank? %>
          <%= t 'user.account.no' %>
        <% else %>
          <%= link_to t('user.account.as', user: account.name), account.url, target: '_blank' %>
        <% end %>
      </td>
      <td>
        <% if account.blank? %>
          <%= link_to user_omniauth_authorize_path(provider), :class => 'btn btn-primary' do %>
            <i class="icon-plus"></i>
            <%= t 'action.add' %>
          <% end %>
        <% else %>
          <%= destroy_button [current_user,account] %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>