<h4><%= t 'comment.new' %></h4>

<%= simple_form_for([comment.commentable,comment], :html => {:class => 'form-inline'}) do |f| %>
  <%= f.error_notification %>
    <%= f.input :content, as: :text, label: false, input_html: {rows: '3'} %>
    <% if comment.commentable.watchable? && comment.commentable.watchings.where(user_id: current_user.id).empty? %>
      <%= render 'shared/watch_checkbox' %>
    <% end %>

    <%= submit_button f, t('action.comment') %>
<% end %>
