<h3><%= t 'comment.new' %></h3>

<%= simple_form_for([comment.commentable,comment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, as: :text, label: false, input_html: {:class => 'input-xlarge', rows: '6'} %>
    <% if comment.commentable.watchable? && comment.commentable.watchings.where(user_id: current_user.id).empty? %>
      <%= render 'shared/watch_checkbox' %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= submit_button f, t('action.comment') %>
    <%= back_button %>
  </div>
<% end %>
