<div id="comment_<%= comment.id %>" class="well comment">
  <%= link_to comment.user do %>
    <%= image_tag comment.user.avatar.thumb.url %>
    <%= comment.user.name %>
  <% end %>

  <div><%= simple_text comment.content %></div>
  <hr/>
  <%= link_to humanize_datetime(comment.created_at), "#comment_#{comment.id}" %>
  <%= destroy_button polymorphic_path([comment.commentable, comment]) if can? :destroy, comment %>
  <%= render 'votes/show', {votable: comment} %>
</div>