<%= simple_form_for([:admin, @universe, @rank], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :level, as: :integer, disabled: true %>
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= submit_button f %>
    <%= back_button %>
  </div>
<% end %>
