<% page_title @topic.name + ' - ' + @topic.forum.name %>

<div class="page-header">
  <h1>
    <%= @topic.name %>
    <small><%= link_to @topic.forum.name, @topic.forum.url %></small>
  </h1>

  <%= link_to t('topic.created_by', user: @topic.user.name), @topic.user %> ::
  <%= posts_count @topic %>
  <%= edit_button edit_forum_topic_path(@topic.forum, @topic) if can? :edit, @topic %>
</div>

<%= will_paginate @posts %>

<% @posts.each do |post| %>
  <%= render 'posts/show', {post: post} %>
<% end %>

<%= will_paginate @posts %>

<% if can?(:create, Post) %>
  <%= render 'posts/new' %>
<% else %>
  <%= render 'users/sessions/invite', {action: t('post.new')} unless user_signed_in? %>
<% end %>