<%= simple_form_for([@topic.forum,@topic], html: {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <% unless @topic.persisted? %>
      <%= f.simple_fields_for @post do |pf| %>
        <%= render 'forums/posts/form_inputs', {form: pf, post: @post} %>
      <% end %>
    <% end %> 
  </div>

  <div class="form-actions">
    <%= submit_button f %>
    <%= back_button %>
    <%= destroy_button @topic if can? :destroy, @topic %>
  </div>
<% end %>
