<div class="page-header">
  <h1><%= @topic.name %></h1>
  <%= link_to @topic.forum.name, @topic.forum %>
</div>

<div class="well">
  <%= link_to t('forum.topic.created_by', user: @topic.user.name), @topic.user %> ::
  <%= @topic.views %> <%= t('forum.topic.views') %> ::  
  <%= link_to t('action.edit'), edit_forum_topic_path(@topic.forum, @topic), :class => 'btn' if can? :edit, @topic %>
</div>

<% @posts.each do |post| %>
  <%= render 'forums/posts/show', {post: post} %>
  <hr/>
<% end %>

<%= will_paginate @posts %>

<%= render 'forums/posts/form' if can? :create, Post %>