<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @forums_topic.title %>
</p>

<p>
  <b>Views:</b>
  <%= @forums_topic.views %>
</p>


<%= link_to 'Edit', edit_forums_topic_path(@forums_topic) %> |
<%= link_to 'Back', forums_topics_path %>
