<div class="page-header">
  <h1><%= @topic.title %></h1>
  <%= link_to @topic.forum.title, @topic.forum %>
</div>

<div class="well">
  <%= link_to t('forum.topic.created_by', user: @topic.user.name), @topic.user %> ::
  <%= @topic.views %> <%= t('forum.topic.views') %> ::  
  <%= link_to t('action.edit'), edit_forum_topic_path(@topic.forum, @topic), :class => 'btn' if can? :edit, @topic %>
  <%= link_to t('action.delete'), [@topic.forum, @topic], :class => 'btn', method: :delete, confirm: 'Are you sure?' if can? :destroy, @topic %>
</div>


<table class="table table-striped table-bordered">
  <% @posts.each do |post| %>
    <%= render 'forums/posts/show', {post: post} %>
  <% end %>
</table>

<%= will_paginate @posts %>

<%= render 'forums/posts/form' if can? :create, @post %>