<div class="page-header">
  <h1><%= t('followers') %> - <%= link_to @followable.name, @followable %></h1>
</div>

<% @followers.each do |follower| %>
  <% user = follower.user %>
    <span class="well">
      <%= link_to user do %>
        <%= image_tag user.avatar.thumb.url %>
        <%= user.name %>
      <% end %>
    </span>
<% end %>

<%= will_paginate @followers %>