<% page_title t('notification.p') %>

<div class="page-header">
  <h1><%= t 'notification.p' %></h1>
</div>

<div class="span8 offset2">
  <ul class="media-list" id="all_notifications">
    <% @notifications.each do |notification| %>
      <li class="media">
        <%= link_to image_tag(notification.notifiable.image.thumb.url, :class => 'img-rounded media-object'), notification, :class => 'pull-left' %>
        <div class="media-body">
          <%= link_to raw(notification.content), notification %>
          <br/>
          <%= time_tag notification.created_at, humanize_datetime(notification.created_at) %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @notifications %>
</div>