<% page_title t('notification.p') %>

<div class="page-header">
  <h1><%= t 'notification.p' %></h1>
</div>

<div class="span8 offset2">
  <table class="table table-striped" id="all_notifications">
    <% @notifications.each do |notification| %>
      <tr>
        <td class="notification_text clearfix">
          <%= image_tag notification.notifiable.image.thumb.url, :class => 'img-rounded pull-left' %>
          <%= link_to raw(notification.content), notification %>
          <br/>
          <%= time_tag notification.created_at, humanize_datetime(notification.created_at) %>
        </td>  
      </tr>
    <% end %>
  </table>
  <%= will_paginate @notifications %>
</div>