<% page_title @user.name %>

<div class="row user_page">
  <div class="span4">
    <%= image_tag @user.image.medium.url, :class => 'img-polaroid', id: 'main_image' %>
    
    <% Universe.all.each do |universe| %>
      <% rank = Rank.highest @user, universe %>
      <% unless rank.nil? %>
        <div class="well clearfix rank">
          <%= link_to image_tag(universe.image.thumb.url, :class => 'img-rounded'), universe, :class => 'pull-left' %>
          <h4><%= rank.name %></h4>
          <p><%= rank.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="span8">
    <h1><%= @user.name %></h1>

    <div class="row">
      <div class="span6">
        <p>
          <% unless @user == current_user %>
            <%= render 'followers/follow_button', {followable: @user} %>
            <%= link_to user_messages_path(@user), :class => 'btn' do %>
              <i class="icon-envelope"></i>
              <%= t 'message.send' %>
            <% end %>
          <% else %>
            <%= t 'user.you' %>
          <% end %>
        </p>
      </div>

      <div class="span1">
        <%= render 'followers/link_with_count', {followable: @user} %>
      </div>

      <div class="span1">
        <%= link_to user_followees_path(@user), :class => 'followers_count' do %>
          <strong><%= @user.followerships.count %></strong>
          <span><%= t 'user.following' %></span>
        <% end %>
      </div>
    </div>

    <hr/>

    <%= simple_text @user.bio %>

    <%= accounts_links @user %>

    <dl>
      <%= show_protected_user_field @user, :email %>
      <%= show_protected_user_field @user, :date_of_birth %>
      <%= show_protected_user_field @user, :gender %>
      <%= show_protected_user_field @user, :location %>
      <dt><%= t 'user.member_since' %></dt>
      <dd><%= humanize_datetime @user.created_at %></dd>
    </dl>

    <% unless @user.pubs.empty? %>

      <h3><%= t 'pub.p' %></h3>

      <% @user.pubs.order_by([:updated_at, :desc]).each do |pub| %>
        <div class="row pub_snippet">
          <div class="span1">
            <%= link_to image_tag( ((pub.image.file.nil? && !pub.universe.nil?) ? pub.universe.image.small.url : pub.image.small.url), :class => 'img-polaroid'), pub %>
          </div>
          <div class="span7">
            <h5><%= link_to pub.name, pub %></h5>
            <p>
              <span class="label"><%= pub.stuffs.count %> <%= t(pub.stuffs.count == 1 ? 'stuff.s' : 'stuff.p').downcase %></span>
              <em><%= truncate hide_html(pub.description), length: 170, separator: ' ' %></em>
            </p>
          </div>
        </div>
        <hr/>
      <% end %>
    <% end %>
  </div>
</div>