<%= simple_form_for([:admin, @universe], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= image_tag @universe.image.thumb.url unless @universe.image.file.nil? %>
    <%= f.input :image, as: :file %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :description, as: :bootsy, input_html: {:class => 'span7', rows: '8'} %>
  </div>

  <div class="form-actions">
    <%= submit_button f %>
    <%= back_button %>
    <%= destroy_button [:admin, @universe]  if @universe.persisted? && can?(:destroy, @universe) %>
  </div>
<% end %>
