<% admin_page_title t('universe.p') %>

<%= render 'admin/shared/header', {active: :universes} %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t('universe.name') %></th>
      <th><%= t('rank.p') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @universes.each do |universe| %>
      <tr>
        <td>
          <%= image_tag universe.image.thumb.url, :class => 'size20' %>
          <%= link_to universe.name, universe %>
        </td>
        <td>
          <%= link_to universe.ranks.count, admin_universe_ranks_path(universe) %>
        </td>
        <td>
          <%= edit_button edit_admin_universe_path(universe) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @universes %>

<%= link_to t('universe.new'), new_admin_universe_path %>
