<%= render 'admin/shared/header', {active: :universes} %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t('universe.name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @universes.each do |universe| %>
      <tr>
        <td>
          <%= image_tag universe.cover.thumb.url, :class => 'size20' %>
          <%= link_to universe.name, universe %>
        </td>
        <td>
          <%= edit_button edit_admin_universe_path(universe) %>
          <%= destroy_button admin_universe_path(universe) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @universes %>

<%= link_to 'New Universe', new_admin_universe_path %>
