<div class="row">
  <div class="span3">
    <h3><%= t 'index.new_venues' %></h3>
    <hr/>
    <% @venues.limit(4).each do |venue| %>
      <div class="row">
        <div class="span1">
          <%= link_to image_tag(venue.image.thumb.url), venue.url, :class => 'thumbnail' %>
        </div>
        <div class="span2">
          <h6><%= link_to venue.name, venue.url %></h6>
          <small><%= link_to truncate(venue.description), venue.url %></small>
        </div>
      </div>
    <% end %>
    <hr/>
    <%= link_to t('action.more'), venues_path, :class => 'btn btn-primary' %>
  </div>

  <div class="span3">
    <h3><%= t 'comment.p' %></h3>
    <hr/>
    <ul class="unstyled">
      <% @topics.limit(6).each do |topic| %>
        <li>
          <h3><%= link_to topic.name, topic.url %></h3>
          <h6><%= link_to topic.forum.name, topic.forum.url %></h6>
        </li>
      <% end %> 
    </ul>
    <hr/>
    <%= link_to t('action.more'), forums_path, :class => 'btn btn-primary' %>
  </div>

  <div class="span3">
    <h3><%= t 'index.new_users' %></h3>
    <hr/>
    <dl>
      <% @venues.limit(6).each do |venue| %>
        <dt><%= link_to venue.name, venue.url %></dt>
        <dd><%= venue.city %></dd>
      <% end %> 
    </dl>
    <hr/>
    <%= link_to t('action.more'), pubs_path, :class => 'btn btn-primary' %>
  </div>
</div>