<div class="row">
  <div class="span3">
    <h3><%= t 'index.top_read' %></h3>
    <% @top_read.limit(8).each do |stuff| %>
      <div class="clearfix index_item">
        <%= link_to image_tag(stuff.image.thumb.url, :class => 'img-rounded pull-left cover'), stuff.url %>
        <%= link_to truncate(stuff.name, length: 50, separator: ' '), stuff.url %>
        <br/>
        <small><%= stuff.pub.name %></small>
      </div>
    <% end %>
  </div>

  <div class="span3">
    <h3><%= t 'index.best' %></h3>
    <ul class="thumbnails">
      <% @best.first(2).each do |stuff| %>
        <li class="span3">
          <%= link_to stuff.url, :class => 'thumbnail' do %>
            <%= image_tag stuff.image.medium.url %>
            <p><%= stuff.name %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div class="span3">
    <h4><%= t 'index.last_discussions' %></h4>
    
    <% @topics.limit(4).each do |topic| %>
      <div class="clearfix index_item">
        <%= link_to image_tag(topic.forum.universe.image.thumb.url, :class => 'img-rounded pull-left cover'), topic.url %>
        <%= link_to truncate(topic.name, length: 50, separator: ' '), topic.url %>
        <br/>
        <small><%= topic.forum.name %></small>
      </div>
    <% end %>

    <h4><%= t 'index.top_discussed' %></h4>
    
    <% @top_discussed.first(4).each do |topic| %>
      <div class="clearfix index_item">
        <%= link_to image_tag(topic.forum.universe.image.thumb.url, :class => 'img-rounded pull-left cover'), topic.url %>
        <%= link_to truncate(topic.name, length: 50, separator: ' '), topic.url %>
        <br/>
        <small><%= topic.forum.name %></small>
      </div>
    <% end %>
  </div>
</div>