<div class="row">
  <div class="span9">
    <%= last_stuffs_carousel true %>

    <%= last_stuffs_span 4, true %>

    <%= render 'row1' %>
  </div>

  <div class="span3">
    <%= render_themed_partial 'sidebar' %>
  </div>
</div>

<hr/>

<%= render 'universes', {universes: @universes} %>