<% page_title t('index.page_title') %>

<div class="row">
  <div class="span9">

    <%= render 'row1' %>

    <hr/>

    <%= render 'row2' %>

    <hr/>

    <%= render 'row3' %>

    <hr/>
    
    <%= render 'row4' %>

  </div>

  <%= render 'sidebar' %>
</div>