<% page_title t('index.page_title') %>

<div class="row">
  <div class="span9">
    <%= last_stuffs_carousel %>

    <%= main_pubs_span 3 %>

    <%= render 'row1' %>
  </div>

  <div class="span3">
    <%= render 'sidebar' %>
  </div>
</div>

<hr/>

<%= render 'universes', {universes: @universes} %>