<% page_title t('search.for', term: params[:q]) %>

<div class="page-header">
  <h1><%= t 'search.for', term: params[:q] %></h1>
</div>


<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <% [:all, :user, :forum, :topic, :post, :pub, :stuff, :universe, :venue, :comment].each do |scope| %>
      <%= search_scope_option scope, params %>
    <% end %>
  </ul>
  <div class="tab-content">
    <% if @results.empty? %>
      <p><%= t 'search.none' %></p>
    <% else %>
      <ul>
        <% @results.each do |result| %>
          <li>
            <%= link_to result.url do %> 
              <strong>
                <%= result.class.model_name.human %>
                <%= result.name unless result[:name].blank? %>
              </strong>
              <br/>
              <small><%= search_result_text result, params[:q] %></small>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= will_paginate @results %>
    <% end %>
  </div>
</div>

