<% page_title t('search.for', term: params[:q]) %>

<div class="page-header">
  <h1><%= t 'search.for', term: params[:q] %></h1>
</div>


<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <% [:all, :user, :forum, :topic, :pub, :stuff, :venue].each do |scope| %>
      <%= search_scope_option scope, params %>
    <% end %>
  </ul>
  <div class="tab-content">
    <% if @results.empty? %>
      <p><%= t 'search.none' %></p>
    <% else %>
      <dl class="search_results">
        <% @results.each do |result| %>
          <dt><%= link_to search_result_text(result[:name], params[:q]), raddar_path(result) %></dt>
          <dd><%= search_result_text result.description, params[:q].split %></dd>
        <% end %>
      </dl>
      <%= will_paginate @results %>
    <% end %>
  </div>
</div>

