<div class="form-inputs">
  <%= form.input :name, input_html: {:class => 'span4'} %>
  
  <%= form.input :description, as: :text, input_html: {:class => 'span4', rows: '7'} %>

  <%= form.input :address, input_html: {:class => 'span4'} %>
  <%= form.input :city, input_html: {:class => 'span4'} %>

  <%= image_tag @venue.image.thumb.url, :class => 'img-polaroid' unless @venue.image.file.nil? %>
  <%= form.input :image, as: :file %>
  <%= form.input :image_cache, as: :hidden %>

  <%= hidden_field_tag :lat, @venue.coordinates.last %>
  <%= hidden_field_tag :lng, @venue.coordinates.first %>

  <%= render 'tags/input', {form: form} %>
</div>
