<%= simple_form_for(@venue, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= image_tag @venue.cover.thumb.url unless @venue.cover.file.nil? %>
    <%= f.input :cover, as: :file %>
    <%= f.input :cover_cache, as: :hidden %>
    <%= f.input :description, as: :text, input_html: {:class => 'span6', rows: '8'} %>

    <div id="<%= @venue.persisted? ? 'map_edit_venue' : 'map_new_venue' %>" class="map_canvas" ></div>

    <%= f.input :address %>
    <%= f.input :city %>

    <%= hidden_field_tag :lat, @venue.coordinates.last %>
    <%= hidden_field_tag :lng, @venue.coordinates.first %>

    <%= render 'tags/input', {form: f} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('action.delete'), @venue, confirm: 'Are you sure?', method: :delete if @venue.persisted? && can?(:destroy, @venue) %>
  </div>
<% end %>
