<% page_title t('venue.p') %>

<div class="page-header">
  <h1><%= t 'venue.p' %></h1>
</div>

<div id="map_venues" class="map_canvas"></div>

<div id="venues_list"></div>

<br />

<%= link_to 'New Venue', new_venue_path %>

<div class="modal hide fade" id="change_location_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t 'venue.location.change' %></h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label"><%= t 'venue.location.change_to' %></label>
      <div class="controls">
        <label class="radio">
          <%= radio_button_tag :location, :my, true %> <%= t 'venue.location.my' %>
        </label>
        <label class="radio">
          <%= radio_button_tag :location, :other %> <%= t 'venue.location.other' %>: <%= text_field_tag :term, nil, disabled: true, maxlength: 80 %>
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal"><%= t 'action.close' %></button>
    <button class="btn btn-primary" id="modal_submit"><%= t 'action.change' %></buttn>
  </div>
</div>