<% page_title t('venue.new') %>

<h1><%= t 'venue.new' %></h1>

<%= simple_form_for(@venue, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div id="map_edit_venue" class="map_canvas" ></div>

  <%= render 'venues/form_inputs', {form: f} %>

  <div class="form-actions">
    <%= submit_button f %>
    <%= back_button %>
  </div>
<% end %>
