<% page_title @venue.name %>

<div class="page-header">
  <h1><%= @venue.name %></h1>
</div>

<%= image_tag @venue.image.thumb.url %>

<div id="map_venue" class="map_canvas"></div>

<p>
  <b>Address:</b>
  <%= @venue.address %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<%= hidden_field_tag :lat, @venue.coordinates.last %>
<%= hidden_field_tag :lng, @venue.coordinates.first %>


<div class="well">
  <%= rich_format @venue.description %>
</div>

<%= link_to t('venue.report'), new_contact_path, :class => 'btn btn-mini' %>

<%= render 'tags/index', {taggable: @venue} %>

<%= render 'votes/show', {votable: @venue} %>

<%= render 'comments/index', {commentable: @venue} %>