<tr>
  <td>
    <%= link_to post.user do %>
      <%= image_tag post.user.avatar.thumb.url %>
      <%= post.user.name %>
    <% end %>
  </td>
  <td>
    <%= simple_format post.content %>
    <%= humanize_datetime post.created_at %>
    <%= link_to t('action.delete'), [post.topic.forum,post.topic,post], :class => 'btn', method: :delete, confirm: 'Are you sure?' if can? :destroy, post %>
  </td>
</tr>