<div id="post_<%= post.id %>" class="post row">
  <div class="span2">
    <%= link_to post.user do %>
      <%= image_tag post.user.avatar.thumb.url %>
      <span class="post_user_name"><%= post.user.name %></span>
    <% end %>
  </div>
  <div class="span6">
    <div class="post_content"><%= rich_format post.content %></div>
    <hr/>
    <%= link_to raw(time_tag(post.created_at, humanize_datetime(post.created_at))), "#post_#{post.id}" %>
    <%= destroy_button [post.topic.forum, post.topic, post] if can? :destroy, post %>
    <%= link_to t('action.quote'), '#new_forum_post_content', :class => 'btn quote_btn' if can? :create, Post %>
    <%= render 'votes/show', {votable: post} %>
  </div>
</div>