<div class="page-header">
  <h1><%= @universe.name %></h1>
</div>

<%= image_tag @universe.image.thumb.url %>

<div class="well">
  <%= rich_format @universe.description %>
</div>

<h3><%= t 'forum.p' %></h3>
<ul>
<% @universe.forums.each do |forum| %>
  <li><%= link_to forum.name, forum %></li>
<% end %>
</ul>

<h3><%= t 'pub.p' %></h3>
<ul>
<% @universe.pubs.each do |pub| %>
  <li><%= link_to pub.name, pub %></li>
<% end %>
</ul>

<h3><%= t 'rank.p' %></h3>
<ol>
<% @universe.ranks.order_by([:level, :asc]).each do |rank| %>
  <li>
    <h4><%= rank.name %></h4>
    <p><%= rank.description %></p>
    <ul>
      <% rank.highest_users.first(5).each do |user| %>
        <li>
          <%= link_to user.url do %>
            <%= image_tag user.image.thumb.url, :class => 'size20' %>
            <%= user.name %> 
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ol>