<div class="page-header">
  <h1><%= @universe.name %></h1>
</div>

<%= image_tag @universe.cover.thumb.url %>

<div class="well">
  <%= rich_format @universe.description %>
</div>

<h3><%= t 'forum.p' %></h3>
<ul>
<% @universe.forums.each do |forum| %>
  <li><%= link_to forum.name, forum %></li>
<% end %>
</ul>

<h3><%= t 'pub.p' %></h3>
<ul>
<% @universe.pubs.each do |pub| %>
  <li><%= link_to pub.name, pub %></li>
<% end %>
</ul>