<% page_title t('user.passwords.edit') %>

<%= render 'users/shared/settings_header', {active: :change_password} %>

<%= simple_form_for(@user, url: change_user_password_path, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :current_password, autocomplete: 'off', required: true %>
    <hr/>
    <%= f.input :password, label: t('user.new_password'), autocomplete: 'off', required: true %>
    <%= f.input :password_confirmation, autocomplete: 'off', required: true %>
  </div>

  <div class="form-actions">
    <%= submit_button f, t('user.passwords.edit') %>
  </div>
<% end %>