<% page_title t('user.password.edit') %>

<%= render 'users/shared/settings_header', {active: :change_password} %>

<%= simple_form_for(@user, url: change_user_password_path, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :password, :autocomplete => "off", :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <hr/>
    <%= f.input :current_password, :required => true %>
  </div>

  <div class="form-actions">
    <%= submit_button f, t('user.password.edit') %>
  </div>
<% end %>