<% page_title t('user.password.new') %>

<div class="page-header">
  <h1><%= t 'user.password.new' %></h1>
</div>

<div class="row">
  <div class="span6">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal'}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, :required => true %>
      </div>

      <div class="form-actions">
        <%= submit_button f, t('action.send') %>
        <%= back_button %>
      </div>
    <% end %>
  </div>

  <div class="span6">
    <%= render 'users/shared/links' %>
  </div>
</div>