<% page_title t('user.password.new') %>

<h2><%= t 'user.password.new' %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="actions">
    <%= submit_button f, t('action.send') %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>