<div id="post_<%= post.id %>" class="post">
  <div class="row">
    <div class="span2 author">
      <%= link_to post.user do %>
        <%= image_tag post.user.image.small.url, :class => 'img-polaroid' %>
        <strong class="post_user_name"><%= post.user.name %></strong>
      <% end %>
    </div>

    <div class="span10 clearfix">
      <div class="post_content editable_content"><%= rich_format post.content %></div>
      <hr/>
      <%= render 'votes/show', {votable: post} %>
      
      <span class="pull-right">
        <%= link_to time_tag(post.created_at, humanize_datetime(post.created_at)), "#post_#{post.id}" %>
        <%= link_to t('action.quote'), '#new_forum_post_content', :class => 'btn quote_btn' if can? :create, Post %>
        <%= destroy_button post if can? :destroy, post %>
      </span>
    </div> 
  </div>
</div>