<%= render 'admin/shared/header', {active: :forums} %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t('forum.name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td>
          <%= link_to forum.name, forum %>
        </td>
        <td>
          <%= edit_button edit_admin_forum_path(forum) %>
          <%= destroy_button admin_forum_path(forum) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @forums %>

<%= link_to t('forum.new'), new_admin_forum_path, :class => 'btn' %>