<% page_title t('user.following', user: @user.name) %>

<div class="page-header">
  <h1>
    <%= @user.name %>
    <small><%= t 'user.following' %></small>
  </h1>
</div>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% @followerships.each do |followership| %>
        <% followable = followership.followable %>
        
        <li class="span2 followee">
          <%= link_to raddar_path(followable), :class => 'thumbnail' do %>
            <% if followable.respond_to?(:image) %>
              <%= image_tag followable.image.small.url %>
            <% elsif followable.respond_to?(:universe) %>
              <%= image_tag followable.universe.image.small.url %>
            <% end %>
            <h5><%= followable.name %></h5>
          <% end %>
        </li>
        
      <% end %>
    </ul>
  </div>
</div>

<%= will_paginate @followerships %>