<% page_title t('user.following', user: @user.name) %>

<div class="page-header">
  <h1>
    <%= @user.name %>
    <small><%= t 'user.following' %></small>
  </h1>
</div>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% @followerships.each do |followership| %>
        <% followable = followership.followable %>
        
        <li class="span2">
          <%= link_to followable.url, :class => 'thumbnail' do %>
            <%= image_tag followable.image.small.url unless followable === Forum %>
            <div class="caption">
              <h5><%= followable.name %></h5>
              <p></p>
            </div>
          <% end %>
        </li>
        
      <% end %>
    </ul>
  </div>
</div>

<%= will_paginate @followerships %>