<%= simple_form_for([:admin, @newsletter], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject, input_html: {:class => 'span7'} %>
    <%= f.input :content, as: :bootsy, input_html: {:class => 'span7', rows: '10'}, editor_options: {color: false, html: true} %>
  </div>

  <div class="form-actions">
    <%= submit_button f %>
    <%= destroy_button [:admin, @newsletter]  if @newsletter.persisted? && can?(:destroy, @newsletter) %>
  </div>
<% end %>
