<% admin_page_title t('user.p') %>

<%= render 'admin/shared/header', {active: :users} %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t('user.name') %></th>
      <th><%= t('user.status') %></th>
      <th><%= t('role.p') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= image_tag user.image.thumb.url, :class => 'size20' %>
          <%= link_to user.name, user %>
        </td>
        <td>
          <%= t("user.status_options.#{user.status}") %>
        </td>
        <td>
          <% user.roles.each do |role| %>
            <%= t("role.#{role.name}") %>
          <% end %>
        </td>
        <td>
          <%= edit_button edit_admin_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>