<%= simple_form_for(@pub, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: {:class => 'span4'} %>
    <%= f.input :description, as: :bootsy, input_html: {:class => 'span6', rows: '12'} %>
    <%= f.input :universe_id, collection: available_universes, label: t('universe.s') %>
    <% unless @pub.image.file.nil? %>
      <div class="row">
        <div class="span2 offset2">
          <%= image_tag @pub.image.small.url, :class => 'img-polaroid' %>
        </div>
      </div>
    <% end %>
    <%= f.input :image, as: :file, input_html: {:class => 'span4'}  %>
    <%= f.input :image_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= submit_button f %>
    <%= destroy_button @pub if @pub.persisted? && can?(:destroy, @pub) %>
  </div>
<% end %>
