<% page_title t('pub.p') %>

<div class="page-header">
  <h1><%= t 'pub.p' %></h1>
</div>

<div>
<% @pubs.each do |pub| %>
  <div class="well">
    <h5><%= pub.name %></h5>
    <%= image_tag pub.image.thumb.url %>
    <p><%= link_to pub.subtitle, pub %></p>
  </div>
<% end %>
</div>

<% if can?(:create, Pub) %>
  <%= link_to t('pub.new'), new_pub_path %>
<% else %>
  <%= render 'users/sessions/invite', {action: t('pub.new')} unless user_signed_in? %>
<% end %>
