<% page_title t('pub.p') %>

<div class="row">
  <div class="span8">
    <div class="page-header">
      <h1><%= t 'pub.p' %></h1>
    </div>
    <div class="row">
      <%= last_stuffs_carousel %>
    </div>
    <%= main_pubs_span %>
  </div>
  <div class="span4">
    <div class="well">
        <% if can?(:create, Pub) %>
          <%= link_to t('pub.new'), new_pub_path, :class => 'btn btn-block btn-large btn-primary' %>
        <% else %>
          <%= render 'users/sessions/invite', {action: t('pub.new')} unless user_signed_in? %>
        <% end %>
    </div>
    
    <% Universe.order_by([:name, :asc]).each do |universe| %>
      <div class="well">
        <h4><%= link_to universe.name, universe.url %></h4>
        <% universe.pubs.where(main: false).order_by([:updated_at, :desc]).limit(4).each do |pub| %>
          <% stuff = pub.stuffs.last %>
          <div class="clearfix">
            <%= link_to image_tag(stuff.image.thumb.url, :class => 'img-rounded pull-left cover'), stuff.url %>
            <%= link_to stuff.name, stuff.url %>
            <br/>
            <small><%= pub.name %></small>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>