<% page_title @pub.name %>

<% content_for :feed_tag, pub_feed_tag(@pub) %>

<div class="row">
  <div class="span6">
    <h1><%= @pub.name %></h1>

    <div class="clearfix">
      <%= link_to image_tag(@pub.user.image.thumb.url, :class => 'img-polaroid pull-left cover'), @pub.user %>
      <%= t 'pub.author' %>
      <br/>
      <%= link_to @pub.user.name, @pub.user %>

      <span class="pull-right">
        <%= render 'followers/link_with_count', {followable: @pub} %>
        <%= render 'followers/follow_button', {followable: @pub} if user_signed_in? %>
        <%= edit_button edit_pub_path(@pub) if can? :edit, @pub %>
      </span>
    </div>
    
    <hr/>
    <%= image_tag @pub.image.large.url unless @pub.image.file.nil? %>
    <div class="editable_content">
      <%= rich_format @pub.description %>
    </div>
  </div>
  <div class="span6">
    <% if can? :create, @pub => Stuff %>
      <div class="well">
        <%= link_to t('stuff.new'), new_pub_stuff_path(@pub), :class => 'btn btn-primary btn-block' %>
      </div>
    <% end %>
    <% @stuffs.each do |stuff| %>
      <%= render 'stuffs/show_resumed', {stuff: stuff, hide_pub: true} %>
    <% end %>
    <%= will_paginate @stuffs %>
  </div>
</div>







