<div class="page-header">
  <h1><%= t('action.admin') %></h1>
</div>

<ul class="nav nav-tabs">
  <li <%= raw 'class="active"' if active == :users %>><%= link_to t('user.p'), admin_users_path %></li>
  <li <%= raw 'class="active"' if active == :pubs %>><%= link_to t('pub.p'), admin_pubs_path %></li>
  <li <%= raw 'class="active"' if active == :forums %>><%= link_to t('forum.p'), admin_forums_path %></li>
  <li <%= raw 'class="active"' if active == :universes %>><%= link_to t('universe.p'), admin_universes_path %></li>
  <li <%= raw 'class="active"' if active == :venues %>><%= link_to t('venue.p'), admin_venues_path %></li>
  <li <%= raw 'class="active"' if active == :pages %>><%= link_to t('page.p'), admin_pages_path %></li>
  <li <%= raw 'class="active"' if active == :newsletters %>><%= link_to t('newsletter.p'), admin_newsletters_path %></li>
</ul>