<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to Raddar::config.app['name'], root_path, :class => 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to t('pub.p'), pubs_path %></li>
          <li><%= link_to t('forum.p'), forums_path %></li>
          <li><%= link_to t('venue.p'), venues_path %></li>
        </ul>
        <%= form_tag search_path, method: :get, :class => 'navbar-search' do %>
          <%= text_field_tag :q, params[:q], :class => 'search-query', placeholder: t('action.search')  %>
        <% end %>
        <ul class="nav pull-right">
          <% unless user_signed_in? %>
            <li><%= link_to t('user.session.new'), new_user_session_path %></li>
          <% else %>
            
            <li class="dropdown" id="messages_notifications">
              <%= link_to messages_path, :class => 'dropdown-toggle', :'data-toggle' => 'dropdown', :'data-target' => '#' do %>
                <i class="icon-envelope"></i>
                <span class="badge badge-important notification_count"></span>
              <% end %>
              <ul class="dropdown-menu">
                <% if Message.count_unread_chats(current_user) > 0 %>
                  <% Message.find_last_messages(current_user, :unread).each do |message| %>
                    <%= render 'messages/notification', {message: message} %>
                  <% end %>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to t('message.all'), messages_path %>
                </li>
              </ul>
            </li>

            <li class="divider-vertical"></li>

            <li class="dropdown" id="general_notifications">
              <%= link_to notifications_path, :class => 'dropdown-toggle', :'data-toggle' => 'dropdown', :'data-target' => '#' do %>
                <i class="icon-flag"></i>
                <span class="badge badge-important notification_count"></span>
              <% end %>
              <ul class="dropdown-menu">
                <% Notification.all_unread(current_user).each do |notification| %>
                  <%= render 'notifications/notification', {notification: notification} %>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to t('notification.see_all'), notifications_path %></li>
              </ul>
            </li>

            <li class="divider-vertical"></li>

            <li class="dropdown">
              <%= link_to current_user.url, :class => 'dropdown-toggle', :'data-toggle' => 'dropdown', id: 'current_user_data', :'data-target' => '#' do %>
                <%= image_tag current_user.image.thumb.url, :class => 'size20' %>
                <%= current_user.name %>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to current_user do %>
                    <i class="icon-user"></i>
                    <%= t 'user.registration.show' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="icon-edit"></i>
                    <%= t 'user.registration.edit' %>
                  <% end %>
                </li>
                <% if can? :manage, :all %>
                  <li class="divider"></li>
                  <li>
                    <%= link_to admin_root_path do %>
                      <i class="icon-wrench"></i>
                      <%= t 'action.admin' %>
                    <% end %>
                  </li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="icon-off"></i>
                    <%= t 'user.session.destroy' %>
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>