<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta content="<%= I18n.locale.to_s %>" http-equiv="content-language">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="text/javascript" http-equiv="content-script-type">
    <meta content="text/css" http-equiv="content-style-type">
    <meta content="no-cache" http-equiv="pragma">
    <meta name="Description" content="<%= Raddar::config.description %>" />
    <meta name="keywords" content="<%= Raddar::config.keywords %>" />
    <meta name="rating" content="<%= Raddar::config.rating %>" />
    <meta name="robots" content="<%= Raddar::config.robots %>" />

    <title><%= [content_for(:page_title), Raddar::config.name].reject(&:blank?).join(' · ') %></title>

    <%= favicon_link_tag %>

    <%= auto_discovery_link_tag :atom, pubs_url(format: :atom), title: Raddar::config.name %>
    <%= content_for :feed_tag if content_for? :feed_tag %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>

    <div id="fb-root"></div>

    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false' %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= subscribe_to user_messages_path(current_user) if user_signed_in? %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div id="wrap">
      <div id="layout_top">
        <div class="container"><%= render file: "#{Rails.root}/theme/views/_top.html.erb" %></div>
      </div>
      <div class="container" id="main_container">

        <%= render 'layouts/messages' %>
        
        <%= yield %>

      </div>
      <div id="push"></div>
    </div>
    <footer>
      <div class="container"><%= render file: "#{Rails.root}/theme/views/_footer.html.erb" %></div>
    </footer>
  </body>
</html>
