<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta content="<%= I18n.locale.to_s %>" http-equiv="content-language">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="text/javascript" http-equiv="content-script-type">
    <meta content="text/css" http-equiv="content-style-type">
    <meta content="no-cache" http-equiv="pragma">
    <title>
      <%= content_for(:page_title) + ' · ' + Raddar::config.app['name'] %>
    </title>

    <%= auto_discovery_link_tag :atom, root_url(format: :atom), title: t('feed.title', app_name: Raddar::config.app['name']) %>
    <%= content_for :feed_tag if content_for? :feed_tag %>

    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application" %>

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false' %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= subscribe_to user_messages_path(current_user) if user_signed_in? %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="layout_top">
      <div class="container"><%= render 'layouts/top' %></div>
    </div>
    <div class="container">

      <%= render 'layouts/messages' %>
      
      <%= yield %>

    </div>
    <footer>
      <div class="container"><%= render 'layouts/footer' %></div>
    </footer>
  </body>
</html>
