<% page_title t('user.registration.edit') %>

<%= render 'users/shared/settings_header', {active: :user_info} %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal', :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :gender, collection: [:female, :male], as: :radio_buttons %>
    <%= f.input :date_of_birth, :input_html => {:value => l(resource.date_of_birth),  :type => 'date', :class => 'datepicker' } %>
    <%= f.input :location %>
    <hr/>
    <%= f.input :bio, as: :text, input_html: {rows: '6', :class => 'span6'} %>
    <hr/>
    <% unless resource.image.file.nil? %>
      <div class="row">
        <div class="span2 offset2">
          <%= image_tag resource.image.small.url, :class => 'img-rounded' %>
        </div>
      </div>
      <%= f.input :remove_image, as: :boolean %>
    <% end %>
    <%= f.input :image, as: :file %>
    <%= f.input :image_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= submit_button f %>
    <%= link_to registration_path(resource_name), :class => 'btn btn-danger btn-mini', method: :delete, confirm: t('js.prompt.delete_confirm') do %>
      <i class="icon-remove"></i>
      <%= t 'user.registration.destroy' %>
    <% end %>
  </div>
<% end %>