<%= render 'users/shared/settings_header', {active: :user_info} %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal', :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name, required: true, :autofocus => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :gender, collection: [:female, :male], as: :radio_buttons %>
    <%= f.input :date_of_birth, :input_html => {:value => l(resource.date_of_birth),  :type => 'date', :class => 'datepicker' } %>
    <hr/>
    <% unless resource.avatar.file.nil? %>
      <%= image_tag resource.avatar.thumb.url %>
      <%= f.input :remove_avatar, as: :boolean %>
    <% end %>
    <%= f.input :avatar, as: :file %>
    <%= f.input :avatar_cache, as: :hidden %>
    <hr/>
    <%= f.input :bio, as: :text %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
