<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name, required: true, :autofocus => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :autocomplete => "off", :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <hr/>
    <%= f.input :gender, collection: [:female, :male], as: :radio_buttons %>
    <%= f.input :date_of_birth, :input_html => {:value => l(resource.date_of_birth), :type => 'date', :class => 'datepicker' } %>
    <%= f.input :facebook_access_token, as: :hidden %>
    <%= f.input :facebook_url, as: :hidden %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
